<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">

    <Properties>
        <!-- Setting up the path where do we want to create a log file -->
        <Property name="basePath">./logs</Property>
    </Properties>


    <Appenders>
        <!-- Setting up the pattern for the message which will print in console-->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- this will create a file in patten of file pattern format. same file will get triggered if its reached the size of 50KB -->
        <RollingFile name="File" fileName="${basePath}/automation.log" filePattern="${basePath}/automation-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <SizeBasedTriggeringPolicy size="50000" />
        </RollingFile>


    </Appenders>

    <Loggers>
        <!-- This comments make  debug comments are high level.-->
        <Root level="Info"><!-- Here you can use multiple log levels All < Trace < Debug < Info < Warn < Error < Fatal < Off -->
            <!-- This comments make where the Logs should get added, AS os now it will get added to the files. If we select the Console. it will get added only in console.-->
            <AppenderRef ref="File"/>  <!-- <AppenderRef ref="Console"/> -->
        </Root>
    </Loggers>

</Configuration>